.to-be-confirmed-container {
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   padding: 1%;
   border: 1.5px solid firebrick;
   background: #CC95C0;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.unconfirmed-shift-div {
   width: 99%;
   border: 5px solid firebrick;
   background-color: bisque;
   overflow-wrap: anywhere;
}

.unconfirmed-shift-div_v2 {
   width: 99%;
   border: 5px solid forestgreen;
   background-color: rgb(225, 227, 147);
   overflow-wrap: anywhere;
}