.shift-div {
   border: 1.5px solid black;
}

.shiftButton_div_candidate {
   display: grid;
   grid-template-columns: auto auto;
}

.shiftButton_supervisor {
   display: flex;
   align-items: center;
   justify-content: center;
}

.youveGotCandidates {
   border: 5.7px solid lightseagreen;
}

.youveGotCandidates:hover {
   scale: 1.015;
   cursor: pointer;
}