.upcoming-shifts-container {
   display: grid;
   grid-template-columns: 33% 33% 33%;
   border: 3px solid black;
   background: #f7ff00;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #db36a4, #f7ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.my-shifts-cell-primary {
   border: 5.75px solid green;
   background-color: whitesmoke;;
}

.my-shifts-cell-1 {
   border: 5.75px solid black;
   background-color: lightgray;
   opacity: 0.5;
}

.my-shifts-cell-2 {
   border: 5.75px solid green;
   background-color: lightpink;
   opacity: 0.5;
}