.assigned-shifts-container {
   border: 5px solid black;
   background-color: lightpink;
}

.awarded-shift {
   overflow-wrap: break-word;
}

.awarded-shift-even {
   background-color: lightyellow;
   border: 3px solid firebrick
}

.awarded-shift-odd {
   background-color: whitesmoke;
   border: 3px solid black;
}